@media (max-width:360px){
  /* ----- header & sidebar section ----- */
    .nav{
        display: none;
    }

    .navbar {
        margin-left: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .container-header{
        width: fit-content;
    }

    .openbtn {
        display: block;
        font-size: 25px;
        cursor: pointer;
        background-color: #F1F3FF;
        color: black;
        border: none;
    }

    .nav-item{
        display: none;
    }

    /* ----- main section ----- */
    .container-main{
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 60px;
        width: auto;
      }   

    /* main-jumbotron */
    .row-jumbotron{
        display: grid;
    }

    .col-jumbotron{
        margin: 0px 16px;
        padding-top: 0px;
    }

    .col-jumbotron h1{
      padding-right: 32px;
    }

    .img-jumbotron{
        width: 344px;
        padding-top: 16px;
        margin-left: 16px;
    }

    .row{
        display: grid ;
    }

    /* main-service */
    .container-service{
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 60px;
    }

    .img-service{
        width: 252px;
        margin-left: 30px;
        padding-bottom: 20px;
    }

    /* main-whyus */
    .container-main h2{
        text-align: center;
    }

    .whyus-subtitle{
        text-align: center;
    }

    .card{
        width: 322px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    .card-body img{
        padding: 16px 0px;
    }

    .card-body h3{
        padding-bottom: 10px;
    }
    
    .card-body p{
        padding-bottom: 16px;
    }

    /* main-testimonial */
    .item{
        width: 328px;
        height: 378px;
        background: #F1F3FF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        margin-top: 40px;
        margin-left: 16px;
    }
    
    .photo{
        width: 80px;
        height: 80px;
        padding-top: 50px;
        margin: 0px 120px;
    }

    .rate{
        margin: 8px 105px;
        position: static;
        width: 100px;
        height: 16px;
        left: 0px;
        top: 0px;
    }
    .comment{
        margin: 0px 24px;
        width: 312px;
    }
    .button-carousel:hover{
        opacity: 1;
        background-color: white;
    }
    #right-button{
        padding-left: 12px;
        width: 44px;
    }
    #left-button{
        padding-right: 12px;
        width: 44px;
    }
    .button-carousel{
        opacity: 0.2;
        transition: .0s ease;
    }

    /* main-getting started */
    .container-getstart{
        width: fit-content;
        background-color: #0D28A6;
        border-radius: 13px;
        margin-top: 60px;
        padding-top: 64px;
        padding-bottom: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .container-getstart h1 {
        padding: 0px 64px;
        font-size: 24px;
    }

    .container-getstart p {
        padding: 0px 64px;
        font-size: 14px;
        font-weight: lighter;
    }

    /* main-faq */
    .faq-subtitle{
        width: 328px; 
        text-align: center;
        padding: 8px 0px;
    }

    .container-main .acordion{
        width: 328px;
    }

/* ----- footer section ----- */
    .container-footer{
        width: 250px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

